<main>
  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate | date : "short" }}</p>
      </div>
    </header>
    <p>
      New York:
      {{ currentTemperaturs.newYork | temperature : "cel" }}
    </p>
    <p>Berlin: {{ currentTemperaturs.berlin | temperature : "fah" }}</p>
    <p>Paris: {{ currentTemperaturs.paris | temperature : "fah" : "cel" }}</p>
    <p>Chicago: {{ currentTemperaturs.chicago | number : "1.1-2" }}</p>
  </article>

  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (temperature of historicTemperatures |sort:"desc"; track temperature)
      {
      <!--Un temperature es el nombre de la pipe pero no me habia fijado que ya habia algo con ese nombre XD-->
      <li (click)="onReset($index)">{{ temperature | temperature : "fah" }}</li>
      }
    </ul>
  </article>
</main>
